body{
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
    width: 100%;
    margin: 0 auto;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 36px;
    font-weight: 600;
    width: 350px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 25px;
}

.disc{
    font-family: Arial, Helvetica, sans-serif;
    color: #414141;
    font-size: 24px;
    font-weight: 300;
    width: 350px;
    text-align: center;
}

.image{
    width: 350px;
    text-align: center;
}

.header-logo img{
    max-width: 100%;
}

.image img{
    width: 60px;
    height: 60px;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 8px 22px 0px rgba(0, 0, 0, 0.16);
}

main{
    flex-wrap: wrap; 
    padding-bottom: 15px;
}


.button{
    width: max-content;
    margin: 0 auto;
    padding-top: 15px;
}

.button button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DBCF5D;
    border: none;
    color: black;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 20px;
}

a{
    text-decoration: none;
    width: max-content;
}

.button button:hover{
    background-color: #b6ab4e;
    transition: .5s;
}

section{
    padding-top: 25px;
    margin: 0 auto;
    text-align: center;
    width: max-content;
}

@media (max-width: 320px){
    .title{
        font-size: 30px;
        width: 300px;
    }
    
    .disc{
        font-size: 20px;
        width: 300px;
    }

    .image{
        width: 300px;
    }
}

.table-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    padding-top: 20px;
}

.form-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    padding-top: 20px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container textarea{
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-container input{
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
.form-container textarea {
    resize: none;
    overflow: hidden;
}

.table-container button{
    padding: 15px 50px;
    border-radius: 15px;
    background-color: #DBCF5D;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.form-container button{
    padding: 15px 50px;
    border-radius: 15px;
    background-color: #DBCF5D;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.table-container button.close{
    background-color: #dc3545;
}

.form-container button.close{
    background-color: #dc3545;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.titleform{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 22px;
    font-weight: 600;
    width: 350px;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

.no-scroll{
    overflow: hidden;
}

.no-scroll2{
    overflow: hidden;
}

.search-input{
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-select{
    padding-top: 10px;
    padding-bottom: 10px;
}